body{
margin:0;
font-family: 'Lato', sans-serif;
}
header{
background-image: url(../images/vanhero.jpg);
height: 300px;
background-position: 50% 66%;
background-size: cover;
}
nav{
padding-top: 40px;
}
nav span{
font-weight: 400;
padding-left: 20px;
font-size: 30px;
color: white;
text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0
}
nav a{
text-decoration: none;
font-size: 20px;
float: right;
padding-right: 50px;
color: white;
text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0
}
nav a:hover{
color:rgb(255, 222, 23);
}
main{
min-height:500px;
}
h1{
text-align:center;
}
aside{
width: 45%;
float: left;
height: 300px;
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
position: relative;
margin:20px;
}
.hometravels{    
background-image: url(/images/travels.jpg);
}
.homeguides{
background-image: url(/images/guides.JPG);
}
.homethevan{
background-image: url(/images/thevan.jpg);
}
.homeaboutus{
background-image: url(/images/aboutus.jpg);
}
aside span{
position: absolute;
top: 75%;
padding: 10px;
padding-right: 50px;
background-color: #ebc611;
font-size: 20px;
}
footer{
clear:both;
background-color: rgb(235, 198, 17);
padding: 15px;
}
