body{
margin:0;
font-family: Arial;
}
header{
background-image: url(../images/vanhero.jpg);
height: 300px;
background-position: 50% 66%;
background-size: cover;
}
nav{
padding-top: 40px;
}
nav a{
color: white;
text-decoration: none;
font-size: 20px;
float: right;
padding-right: 50px;
}
nav a:hover{
color:rgb(255, 222, 23);
}
main{
min-height:500px;
}
h1{
text-align:center;
}
footer{
background-color: rgb(235, 198, 17);
    padding: 15px;
}
